<!doctype html>
<html class="no-js" lang="">
      {{- partial "header.html" . -}}
  <body class="font-monospace">
      <style type="text/css" media="screen">
       body {
           font-size: 18px;
       }
h1,h2,h3{
    line-height: 1.4;
    margin: 10px 0px;
}
      </style>

    {{ partial "nav.html" . }}
        {{- block "main" . }}{{- end }}
    {{ partial "footer.html" . }}
  </body>
</html>
